.bg-black{
    background-color: $color-truedark;
}
.bg-first{
    background-color: $color-first;
}
.bg-sec{
    background-color: $color-sec;
}
.bgr-three{
    background-color: $color-three;
}
.bg-four{
    background-color: $color-four;
}
.bg-five{
    background-color: #f7f7f7;
}
.mycolor-first{
    color: $color-first;
}
.mycolor-sec{
    color: $color-sec;
}
.mycolor-three{
    color: $color-three;
}
.mycolor-four{
    color: $color-four;
}