.nav {
    background-color: #000000;
    // height: 50px;
    &-container {
        width: 100%;
    }
    @include phone() {
        height: auto;
        border-bottom: none;
    }
    a {
        text-decoration: none;
        color: #fff;
        line-height: 16px;
    }
    &-list {
        cursor: pointer;
        a {
            &:hover {
                color: $color-sec;
            }
        }
    }

    &-logo {
        margin-left: 50px;
        @include phone() {
            margin-left: 0;
        }
    }
    &-content {
        margin-right: 50px;
        @include phone() {
            width: 100%;
            margin-right: 0;
        }
    }
}

.hamburger {
    @include hamburger(#fff, #000000);
}
